/* ###
- redo the design info by choosing proper colours and fonts
- when that is done, change
      1. the <a> in HTML files
      2. the font family names in css
      3. colours in css
###  */
/*
Design info (preliminary)
Colours to be used in the styling of my portfolio site are:
Text colour: #353745 (dark) #ffffff (light)
Primary colour: #AE9152
secondary colour: #BFD9D7
backgroud colour: #fdfcfb

Typography to be used in the styling of my portfolio site are:
Primary font: Dancing Script
secondary font: Palanquin
*/
:root {
  --primary-colour: #AE9152;
  /* gold */
  --secondary-colour: #BFD9D7;
  /* linden green */
  --text-colour-dark: #353745;
  /* soft dark grey */
  --text-colour-light: #ffffff;
  /* white */
  --background-colour: #fdfcfb;
  /* off-white */
  --primary-colour-dark: #796539;
  /* dark-gold */
  --primary-colour-light: #CAAA64;
  /* light gold */
  --secondary-colour-light: #DFECEB;
  /* light linden green */
  --link-colour-active: #3b44f6;
  /* blue */
  --font-size-main: 16px;
  --font-size-footer-heading: 18px;
  --font-size-navigation__item: 20px;
  --font-size-h1: 55px;
  --font-size-h2: 24px;
  --font-size-button: 16px;
  --font-size-button-large: 18px;
  --font-size-h1-small-screen: 22px;
}

/* //Styling concering all the pages of the website // */
/* Styling the body in general */
body {
  background-color: var(--background-colour);
  font-family: 'Palanquin', sans-serif;
  font-weight: 400;
  font-size: var(--font-size-main);
  line-height: 1.6;
  color: var(--text-colour-dark);
}

/* This changes the default setting regarding width, including the padding and border in the width
as opposed to adding it to the specified width */
* {
  box-sizing: border-box;
}

/* Styling the header within the body*/
.page-header {
  display: flex;
  background-color: var(--secondary-colour);
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header .page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

/* This styles all the navigation lists on all pages */
.navigation-list {
  margin-right: 5%;
}

/* This styles all the navigation-listitems on all pages */
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  font-size: var(--font-size-navigation__item);
  flex-grow: 1;
  flex-shrink: 1;
}

/* This will remove the underline from the nav link of the active page*/
.navigation-list__item--active {
  text-decoration: none;
}

.language-icon-img {
  width: 20px;
  height: 20px;
}

/* This styles the logo within each header */
#header-image__logo {
  height: 180px;
  width: 180px;
  margin-left: 5%;
}

/* Styling the footer within the body */
.page-footer {
  background-color: var(--secondary-colour);
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* This styles specifically the elements with the ID find-me-on
I did this because it due to screen reader accessibility I had to give them different headers */
#find-me-on__header {
  font-family: 'Palanquin', sans-serif;
  font-size: var(--font-size-footer-heading);
  font-weight: 700;
}

.page-main {
  margin: 25px;
}

/* Styling headers in the body*/
/* This styles the h1 headers in general */
.section__header1 {
  font-family: 'Dancing Script', cursive;
  font-size: var(--font-size-h1);
  font-weight: 700;
}

/* This styles the h2 headers in general */
.section__header2 {
  font-family: 'Palanquin', sans-serif;
  font-size: var(--font-size-h2);
  font-weight: 700;
}

/* Styling the hyperlinks */
/* the following gives the hyperlinks all the same colour */
a {
  color: var(--primary-colour);
}

/* the following gives a link that has been visited a different colour */
a:visited {
  color: var(--primary-colour-dark);
}

/* the following removes the underline when the mouse hovers over the link
or when someone accesses the link with the keyboard */
a:hover, a:focus {
  text-decoration: none;
}

/* the following gives a link that has been selevted a different colour */
a:active {
  color: var(--link-colour-active);
}

/* Styling the buttons */
/* The following styles the shape, colors, font, decoration of the buttons*/
button, .button {
  border: none;
  font-family: inherit;
  background-color: var(--primary-colour-light);
  font-size: var(--font-size-button);
  text-decoration: none;
  color: var(--text-colour-light);
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.3s opacity;
}

/* The following styles the active interaction with the buttons */
button:hover, button:focus, .button:hover, .button:focus {
  cursor: pointer;
  opacity: 0.7;
  text-decoration: underline;
}

.button:visited {
  color: var(--text-colour-light);
}

/* This styles the largest sections within the main sections of each page */
.profile, .about, .contact {
  max-width: 700px;
  margin: auto;
}

/*  // Styling concerning multiple but not all the pages of the website // */
/* This styles the portraits on home and about page */
.profile__portrait {
  float: left;
  margin-right: 40px;
  width: 250px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

/*  // Styling concerning just one page of the website // */
/* Styling concerning just the home page */
.profile-section__paragraph {
  flex: 1 1 100px;
}

#text__fullstack-web-developer {
  font-style: italic;
  font-weight: 500;
}

/* Styling concerning just the about page */
.about-section__paragraph {
  flex: 1 1 100px;
}

.about-section__table {
  width: 400px;
  text-align: left;
}

/* Styling concerning just the contact page */
.contact-section__svg {
  float: left;
  width: 360px;
  height: auto;
  margin-bottom: 30px;
}

.contact-section__paragraph {
  flex: 1 1 100px;
  font-size: large;
}

.contact-section__form {
  clear: both;
}

.contact-form__input {
  display: block;
}

#contact-message__subtext {
  font-size: small;
  text-align: right;
  margin-right: 40px;
}

/* Styling concering just the work page */
/* This styles the grid layout for the work page */
.work {
  margin: 20px;
  padding: 10px;
}

#my-work{
  font-size: 72px;
}

/* This is the fallback option for the browsers that cannot use grid */
.grid__item {
  display: inline-block;
  width: 33%;
}

.button__contact-me-now {
  font-size: var(--font-size-button-large);
}

/* This tells browser to use the grid, if it supports the feature */
@supports (display: grid) {
  .project-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* !!! maybe change this to just 3 1frs */
    grid-gap: 20px;
  }

  /* The following styles the grid items */
  .project-list__item {
    background-color: var(--secondary-colour-light);
    /* maybe use #e6decb or #bfd9d7 */
    padding: 20px 30px 35px;
    border-radius: 30px;
    width: auto;
    min-height: auto;
    margin: 0;
  }

  .project-list__item:last-child {
    grid-column: 4/ 4;
    /* !!! maybe change this to 3 /3 */
    grid-row: 1 / 4;
    /* !!! maybe change this to 1 / 3 */
  }
}

/* The following creates responsive design in regards to screen width */
@media all and (min-width: 500px) and (max-width:750px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .project-list__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  .h1 {
    font-size: var(--font-size-h1-small-screen);
  }
}

@media all and (max-width: 500px) {
  .project-list {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .project-list__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  .h1 {
    font-size: var(--font-size-h1-small-screen);
  }
}

/* Styling the hamburg svg on home and about*/
@keyframes hamburg_skyline-fade-in {
  0% {opacity: 0;}
  50% {opacity: 0.5;}
  100% {opacity: 1;}
}

.hamburg_skyline_svg {
  margin-left: 35%;
  animation-duration: 10s;
  animation-name: hamburg_skyline-fade-in;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

#hamburg_skyline_svg_about {
  margin-left: 5%;
}


/*stying the logo svg on contact*/
@keyframes network-zoom-in {
  0% {
    transform-origin: center;
    transform: scale(0);
  }
  50% {
    transform-origin: center;
    transform: scale(1.2);
  }
  100% {
    transform-origin: center;
    transform: scale(1);
  }
}

.network {
 animation: network-zoom-in 12s ease-in 1;
}
